In [14]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in /home/rastark/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (1.1.3)
Requirement already satisfied: numpy in /home/rastark/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (1.19.2)
Requirement already satisfied: scikit-learn in /home/rastark/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 3)) (0.23.2)
Requirement already satisfied: seaborn in /home/rastark/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: matplotlib in /home/rastark/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 5)) (3.3.2)
Requirement already satisfied: pillow>=6.2.0 in /home/rastark/anaconda3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 5)) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/rastark/anaconda3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 5)) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/rastark/anaconda3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 5)) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /home/rastark/anaconda3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 5)) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /home/rastark/anaconda3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 5)) (2020.12.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/rastark/anaconda3/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 5)) (2.4.7)
Requirement already satisfied: six in /home/rastark/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 5)) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /home/rastark/anaconda3/lib/python3.7/site-packages (from pandas->-r requirements.txt (line 1)) (2020.4)
Requirement already satisfied: scipy>=0.19.1 in /home/rastark/anaconda3/lib/python3.7/site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/rastark/anaconda3/lib/python3.7/site-packages (from scikit-learn->-r requirements.txt (line 3)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /home/rastark/anaconda3/lib/python3.7/site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.0.0)

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [16]:
poke_feature_dataset = pd.read_csv('pokemon.csv')
poke_battles_dataset = pd.read_csv('combats.partial.csv')

In [18]:
train, test = train_test_split(poke_battles_dataset, test_size=0.2, random_state=22)

train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

In [19]:
train.head(10)

       Winner  First_pokemon  Second_pokemon
9460      405            405             585
15722     484            484             692
4785      519            519              99
4230      662            662             482
17729     671            667             671
30904     583            610             583
38676     397            397             442
18558     443            443             790
9881      457            573             457
28141     269            309             269

Utilizzo .info() per determinare se e quali feature possano contenere valori nulli.

In [8]:
poke_feature_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [10]:
poke_battles_dataset.head(10)

   Winner  First_pokemon  Second_pokemon
0     650            650             579
1     151            151             558
2     340            340             631
3     139            688             139
4     132            365             132
5     440            200             440
6     336            108             336
7     797            797             202
8     423            719             423
9     800            800             227